* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Vazir-Medium";
    outline: none;
    font-size: 100%;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
body {
    background-color: #fcfcfc;
    padding: 2rem 1rem 0;
}
.pre-loader {
    width: 100%;
    height: 100vh;
    background-color: #fcfcfc;
    position: fixed;
    top: 0;
    right: 0;
}
.pre-loader img {
    width: 25%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
}
.current-date-day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .75rem 0 .75rem;
}
.current-day {
    padding-left: .25rem;
}
.we-class {
    display: flex;
    height: 2rem;
    align-items: center;
    padding: 0 .75rem 0 .75rem;
    background-color: #202020;
    color: #fcfcfc;
    border-radius: 12px;
}
.content {
    width: 100%;
}
.main-homework, .main-lessons {
    display: flex;
    flex-direction: column;
}
.main-lessons {
    margin-top: 1rem;
}
.main-homework {
    width: 100%;
    height: 15rem;
    padding: 0 2.5rem 0 0;
    justify-content: center;
    border: 2px solid rgba(247, 0, 255, .24);
    border-radius: 24px;
    margin-top: 1rem;
    font-size: 18px;
    align-items: flex-end;
}
.main-homework ul {
    list-style: none;
}
.content-title {
    margin-top: 1.5rem;
    font-size: 14px;
}
.work {
    background-color: #FFFF00;
    width: fit-content;
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding: 0 .5rem 0 .5rem;
    border-radius: 8px;
    font-family: "Vazir-Bold";
    justify-content: right;
    color: #202020;
}
.work:not(.work1) {
    margin-top: .75rem;
}
.lessons-list {
    display: flex;
    flex-direction: row;
    background-color: #F700FF;
    height: 2rem;
    align-items: center;
    color: #fcfcfc;
    padding: 0 .75rem;
    border-radius: 12px;
    font-size: 12px;
}
.menu-bar {
    background-color: #fcfcfc;
    display: flex;
    height: 5.875rem;
    justify-content: space-between;
    padding: 0 4.5rem 1.5rem;
    align-items: center;
    width: 100%;
    color: #F700FF;
    position: fixed;
    right: 0;
    bottom: 0;
    user-select: none;
}
.home-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-btn p, .weekly-btn p, .pdf-btn p {
    margin-top: .25rem;
}
.weekly-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .32;
}
.pdf-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .32;
}
.homeworks, .lessons {
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    overflow: auto;
    text-align: right;
}
.homeworks::-webkit-scrollbar, .lessons::-webkit-scrollbar {
    opacity: 0;
}
.homework, .lesson {
    width: 9rem;
    height: 12.5rem;
    background-color: #FBDDFC;
    margin: 1rem .75rem 0 0;
    border-radius: 8px;
    padding: 1rem;
    font-size: 14px;
}
.more-div {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 .5rem;
    align-items: center;
    margin-top: 1rem;
}
.more-btn {
    background-color: #fcfcfc;
    border: none;
    color: #F700FF;
    font-size: 12px;

}
.date-homework, .date-lesson {
    opacity: 56%;
    font-size: 12px;
    margin-bottom: 1rem;
}
.lesson {
    color: #67006C;
    height: 10rem;
}
.lesson-day {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.lesson-title {
    margin-right: .25rem;
}
.homework5, .lesson5 {
    margin-right: 0;
}
.date-day-homework, .date-day-lesson {
    display: flex;
    flex-direction: row-reverse;
}
.day-homework1, .day-homework2, .day-homework3, .day-homework4, .day-homework5, .day-lesson1, .day-lesson2, .day-lesson3, .day-lesson4, .day-lesson5 {
    padding-right: .25rem;
} 
.saturday-homework2, .saturday-homework3, .sunday-homework2, .sunday-homework3, .monday-homework2, .monday-homework3, .tuesday-homework2, .tuesday-homework3, .wednesday-homework2, .wednesday-homework3 {
    padding-top: .25rem;
}
.login-page {
    background-color: #fcfcfc;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: +1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.375rem;
    font-size: 21px;
    font-weight: bolder;
    text-align: center;
}
.login-header-logo {
    width: 6rem;
    margin-bottom: .5rem;
}
.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.inputs input {
    width: 100%;
    height: 3rem;
    border: 1px solid #202020;
    border-radius: 8px;
}
.input-name, .input-password {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.input-name p, .input-password p {
    margin: 0 .25rem .5rem 0;
    font-size: 12px;
}
.input-name {
    margin-bottom: 1.5rem;
}
.input-name input::placeholder, .input-password input::placeholder {
    font-size: 14px;
    text-align: right;
    opacity: 72%;
}
.input-name input::selection, .input-password input::selection {
    color: #fcfcfc;
    background-color: #F700FF;
}
.input-name input:focus, .input-password input:focus {
    border: 2px solid #202020;
}
.input-name input:placeholder-shown, .input-password input:placeholder-shown {
    padding-right: .75rem;
    text-align: right;
}
.input-name input:not(:placeholder-shown), .input-password input:not(:placeholder-shown) {
    padding-right: .75rem;
    text-align: right;
}
.btns {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3.5rem;
}
.btns button {
    height: 3.5rem;
}
.login-btn {
    background-color: #F700FF;
    border: none;
    border-radius: 8px;
    color: #fcfcfc;
    font-weight: bolder;
}
.signup-btn {
    border: none;
    color: #F700FF;
    font-weight: bolder;
}